{
  "debug": "0",
  "tg_api_id": "",
  "tg_api_hash": "",
  "duyaoo_bot.py": {
    "token": "",
    "use_proxy": "1",
    "web":
      {
        "name": "duyaoo_bot_web.py",
        "port": 9999
      }
  },
  "duyaoo_bot_web.py": {
    "bot": "duyaoo_bot.py"
  }
}